<div class="container mt-3">
  <h1>Flats</h1>
  <div class="cards">
    <% @flats.each do |flat_hash| %>
      <div class="card-trip">
        <%= image_tag flat_hash['imageUrl'], alt: "text" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= flat_hash['name'] %></h2>
          </div>
          <h2 class="card-trip-pricing">£<%= flat_hash['price'] %> </h2>
        </div>
        <%= link_to "", flat_path(flat_hash['id']), class: 'card-link' %>
      </div>
    <% end %>
  </div>
</div>
