<div class="container">
  <div class="card-trip">
    <%= image_tag @flat['imageUrl'], alt: "text" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @flat['name'] %></h2>
      </div>
      <h2 class="card-trip-pricing">£<%= @flat['price'] %> </h2>
    </div>
  </div>
  <%= link_to "Go Back", root_path, class: 'btn btn-light mt-2' %>
</div>
